<div ng-controller="create_position_controller as cpc">
    <div id="createPositionDiv" class="row">
        <div class="col-md-12">
            <h1 class="page-head-line">Create an position</h1>
            <h1 class="page-subhead-line">Set up an position</h1>

        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12" style="width:100%;">
        <div class="panel panel-info">
            <div class="panel-heading">
              Position
            </div>
            <div class="control-group" id="fields" ng-show="userRole == 'Admin' || userRole == 'Manager'">
                <div class="controls">
                    <form role="form" autocomplete="on" style="margin-left:5%;">
                        <div class="form-group" style="margin-top:2%; text-align:left;">
                            <div class="row">
                                <div class="col-md-5">
                                    <label>Position</label>

                                    <md-autocomplete
                                        id="position-box"
                                        md-no-cache="true"
                                        md-selected-item="selectedPosition"
                                        md-search-text="positionText"
                                        md-selected-item-change="positionItemChange(selectedPosition)"
                                        md-items="position in queryPosition(positionText)"
                                        md-item-text="position"
                                        md-min-length="0"
                                        md-input-id="positionBox"
                                        placeholder="Search for Position">
                                    <md-item-template>
                                                    <span md-highlight-text="positionText"
                                                          md-highlight-flags="^i">{{position}}</span>
                                    </md-item-template>

                                </md-autocomplete>
                                </div>
                                <div class="col-md-1"></div>

                                <div class="col-md-1"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Description</label>
                                    <textarea class="form-control" rows="5" id="comment" disabled>{{positions[selectedPosition].description}}</textarea>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-4" id="topic-box" ng-controller="tag_auto_complete_controller as ctrl">
                                    <label>Tags</label>
                                    <button class="btn btn-success btn-add btn-xs" type="button" ng-click="ctrl.newTag(ctrl.searchText);" id="addTagButton" style="margin-left:4px;">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                    <br>
                                    <md-autocomplete
                                            id="position-topic"
                                            style="width:90%;"
                                            md-no-cache="true"
                                            md-selected-item="ctrl.selectedItem"
                                            md-search-text="ctrl.searchText"
                                            md-selected-item-change="ctrl.selectedItemChange(ctrl.selectedItem)"
                                            md-items="tag in ctrl.querySearch(ctrl.searchText)"
                                            md-item-text="tag"
                                            md-min-length="0"
                                            md-input-id="tagBox"
                                            placeholder="Search for Tag">
                                        <md-item-template>
                                                        <span md-highlight-text="ctrl.searchText"
                                                              md-highlight-flags="^i">{{tag}}</span>
                                        </md-item-template>
                                        <md-not-found>
                                            Click the plus to create "{{ctrl.searchText}}"
                                        </md-not-found>
                                    </md-autocomplete>
                                </div>
                                <div class="col-md-8" id="subtopic-box">
                                    <label>Tag List</label>
                                    <br>
                                    <tag ng-repeat="(key, value) in positionData.selectedTags track by $index"></tag>
                                </div>
                            </div>
                            <br><br>
                        </div>
                    </form>
                    <br><br>
                    <div clas="row">
                        <div class="col-xs-6" style="text-align: right">
                            <button type="button" class="btn btn-lg btn-success" ng-click="addPosition(positionText)"
                                    id="submitPositionButton">
                                Submit
                            </button>
                        </div>
                        <div class="col-xs-6">
                            <button type="button" class="btn btn-lg btn-danger" ng-click="cancel()">
                                Cancel
                            </button>
                        </div>
                    </div>
                    <br><br><br><br>
                    <br>
                </div>
            </div>
            <div class="row" ng-show="userRole != 'Admin' && userRole != 'Manager'">
                <div class="col-md-12">
                    <h4 class="h4" style="text-align: center">I'm sorry, but you do not have permission to create an interview at this time.</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="assets/js/bootstrap-tagsinput.js"></script>
